* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  padding: 0px;
  font-family: "Josefin Sans", sans-serif;
  color: hsl(0, 6%, 24%);
  background-image: url("images/bg-pattern-desktop.svg");
}
.container {
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: space-between;
  overflow-y: hidden;
}

.text {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin-left: 150px;
}

.logo img {
  margin-top: 40px;
}

.heading {
  margin-top: 90px;
  font-size: 70px;
  font-weight: bolder;
  letter-spacing: 12px;
}

.heading .first {
  color: hsl(0, 36%, 70%);
  font-weight: normal;
}

.image img {
  width: 555px;
}

.para p {
  margin: 30px 0px;
  width: 60%;
  font-weight: 600;
  color: hsl(0, 36%, 70%);
  font-size: 15px;
  line-height: 1.5;
}

.form {
  display: flex;
  flex-direction: row;
}

#mail {
  height: 45px;
  width: 340px;
  text-indent: 20px;
  box-shadow: none;
  border-radius: 20px;
  border: 1px solid hsl(0, 36%, 70%);
  /* border-image: linear-gradient(to right, hsl(0, 80%, 86%), hsl(0, 74%, 74%)); */
  color: hsl(0, 36%, 70%);
  text-align: left;
  outline: none;
}

.form ::placeholder {
  /* padding-right: 50px; */
  color: hsl(0, 36%, 70%);
}

.err_img img {
  transform: translate(-70px, 8px);
  display: none;
}

.form .btn {
  padding: 9px 30px;
  background-image: linear-gradient(
    to right,
    hsl(0, 80%, 86%),
    hsl(0, 74%, 74%)
  );
  outline: none;
  box-shadow: none;
  border: none;
  border-radius: 20px;
}

.form button {
  /* position: absolute; */
  transform: translate(-60px, 0px);
}

.error p {
  color: hsl(0, 93%, 68%);
  font-size: 13px;
  font-weight: bold;
  padding: 10px 20px;
  display: none;
}

.image_hor img {
  display: none;
}

@media (max-width: 1221px) {
  #mail {
    width: 300px;
  }
}

@media (max-width: 1180px) {
  .para p {
    width: 70%;
  }
}

@media (max-width: 1101px) {
  .text {
    margin-left: 100px;
  }
}

@media (max-width: 1033px) {
  .text {
    margin-left: 80px;
  }
}

@media (max-width: 1014px) {
  .text {
    margin-left: 80px;
  }
}

@media (max-width: 1009px) {
  .text {
    margin-left: 50px;
  }
}

@media (max-width: 980px) {
  .image img {
    display: none;
  }
  .text {
    align-items: center;
    margin: 0px;
  }
  .image_hor img {
    display: block;
    width: 600px;
  }
  .para p {
    margin: auto;
    text-align: center;
    padding: 40px 0px;
  }
  .heading {
    text-align: center;
  }
  .form {
    margin-bottom: 60px;
  }
  .logo img {
    float: right;
    padding-bottom: 40px;
  }
}

@media (max-width: 600px) {
  .image_hor img {
    width: 400px;
  }
  .form {
    transform: translate(30px, 0px);
  }
  .heading {
    /* letter-spacing: normal; */
    line-height: 60px;
  }
}

@media (max-width: 400px) {
  .image_hor img {
    width: 345px;
  }
}
